.gy-body{
    position: relative;
    width: 100%;
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.show-photo{
    width: 163px;
    height: 92px;
    background-color: white;
    overflow: hidden;
    margin: 10px;
    border-radius: 3px;
}
.gy-text-1{
    color: #696969;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -60px;
    margin-left: 30px;
    align-items: flex-start;
}
.gy-text-2{
    color: #696969;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 15px;
    padding: 20px 0px;
    margin-bottom: 57px;
    /*margin-left: 15px;*/
}
.gy-photo-box{
    margin-top: 3%;
}
.gy-photo-max{
    width: 100%;
}
.gy-text-description{
    margin: 4px;
}
.gy-button{
    width: 80px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #00a1d6;;
}
.gy-button-top{
    width: 1000px;
    display: flex;
    margin-top: 80px;
}
.gy-main-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

}
.goto {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
.ph-main-page{
    height: 94%;
    position: relative;
    top: 40px;
    width: 1000px;
    background-color: white;
    border-radius: 6px;
}
.ph2-body{
    position: relative;
    width: 100%;
    height: 6300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}