html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 30px;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.header-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 12%;
}

.header-2_1 {
    position: relative;
    left: 20%;
    display: flex;
    align-items: center;
}

.header-2_2 {
    position: relative;
    left: 40%;
    display: flex;
    align-items: center;
}

.header-2_3 {
    position: relative;
    left: 60%;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.header-2_4 {
    position: relative;
    left: 80%;
    display: flex;
    align-items: center;
}

.header-2_5 {
    position: relative;
    left: 100%;
    display: flex;
    align-items: center;
}

.img-1 {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 5%;

}

.text-1 {
    width: 100px;
    padding: 6px;
}

.text-2 {
    color: darkorange;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 20px;
}

.text-3 {
    text-decoration: none;
    font-size: 60px;
    font-family: "仓耳渔阳体 W03";
    display: flex;
    position: relative;
    justify-content: center;
    top: 2%;
}

.body-1 {
    width: 1200px;
    height: 800px;
    padding: 20px;
    display: flex;
    position: relative;
    top: 90px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

.body-2 {
    width: 70%;
    position: relative;
    right: 25px;
}

.body-2_1 {
    background-color: white;
    height: 200px;
    position: relative;
    padding: 3%;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.body-2_2 {
    background-color: white;
    width: 100%;
    height: 600px;
    position: relative;
    top: 5%;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.body-2_3 {
    background-color: white;
    width: 100%;
    height: 600px;
    position: relative;
    top: 10%;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.body-2_2_1 {
    display: flex;
    overflow: hidden;
    padding: 3%;
    flex-direction: column;
}

.body-3 {
    width: 25%;
    position: relative;
    right: 3%;
}

.body-3_1 {
    top: 3%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
}

.body-3_1_1 {
    position: relative;
    padding: 10px;
}

.body-3_2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3%;
    font-family: 微软雅黑;
    font-size: 20px;
    font-style: normal;
    color: grey;
}

.body-3_3 {
    position: relative;
    height: 400px;
    max-height: 30%;
    top: 5%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
}

.body-3_31 {
    padding: 5%;
}

.body-3_3_1 {
    font-family: 微软雅黑;
    font-size: 20px;
    font-style: normal;
}

.body-3_4 {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.body-3_5 {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    right: 5%;
}

.Canvas {
    position: fixed;
    left: -50px;
    bottom: -50px;
    z-index: 9;
}

.background {
    background-image: url("/BOX/Photo/nacho.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    opacity: 40%;
}

.body1 {
    position: relative;
    width: 100%;
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50px;
}

.box1 {
    width: 100%;
    height: 250px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3%;
    flex-direction: column;
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, sans-serif;
    font-size: 16px;
    color: #696969;
}

.box1-1-1 {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    position: relative;
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, sans-serif;
    font-size: 15px;
    color: #696969;
}

.rad {
    border-radius: 50%
}

.bilibili {
    position: relative;
    display: flex;
    justify-content: center;
}

.booth {
    position: relative;
    display: flex;
    justify-content: center;
    left: 10%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    background-color: white;
    z-index: 1;
    position: relative;
}

.footer-left {
    width: 1138px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-link {
    margin-left: 100px;
}

.footer-link-content {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    position: relative;
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, sans-serif;
    font-size: 15px;
    color: #696969;
}

.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-page-left {
    width: 250px;
    height: 100%;
    background-color: white;
    border-radius: 6px 0 0 6px;
    border: 1px #e2e2e2;
    border-right-style: solid;
}

.main-page-right {
    height: 100%;
    width: 1000px;
    background-color: white;
    border-radius: 0 6px 6px 0;
}
.head-box{
    margin-top: 83px;
    width: 1250px;
    height: 222px;
    background: white;
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
}
.list{
    padding: 0 20px;
}
.list1{
    padding: 0 20px;
    /*border: 1px #e2e2e2;*/
    /*border-bottom-style: solid;*/
}
.list-item{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
    align-items: center;
    border: 1px #e2e2e2;
    border-bottom-style: solid;

}
.list-left{
    width: 100%;
    height: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px #e2e2e2;
    border-bottom-style: solid;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 100%;
    align-items: flex-start;
}
.text-4{
    color: #696969;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 12px;
}
.text-5{
    color: #696969;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 20px;
}
.text-6{
    color: white;
    font-style: normal;
    font-family: 微软雅黑;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    margin-left: 20px;
}
.text-center{
    display: flex;
    align-items: center;

}
.fans-name{
    font-family: 微软雅黑;
}
.head-background{
    background-image: url("/BOX/Photo/toutu.jpg");
    background-position: 50%;
    background-size: cover;
    height: 100%;
    box-shadow: 0px -10px 40px -17px #000 inset;
}
.user-auth-subscript.personal-auth.avatar-b, .user-auth-subscript.personal-auth.avatar-m {
    background-position: -38px -53px;
}
.user-auth-subscript.avatar-b {
    right: -50px;
    top: -20px;
    width: 20px;
    height: 20px;
}
.user-auth-subscript {
    position: relative;
    display: none;
    z-index: 9;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/user-auth.png);
    background-repeat: no-repeat;
}
.user-auth-subscript.personal-auth {
    display: block;
}
.bottom-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-box1{
    display: flex;
    position: relative;
    top: 105px;
    left: 25px;
}

