.pre-body{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*.de-body-block{*/
/*    margin-top: 40px;*/
/*    background-color: white;*/
/*    min-height: 600px;*/
/*    padding: 3%;*/
/*    box-shadow: 0 0 15px -3px rgb(0 0 0 / 10%);*/
/*    border-radius: 12px;*/
/*    overflow:hidden*/
/*}*/
.pre-main-body{
    min-height: 100%;
    max-width: 80%;
    min-width: 1000px;
    background-color: #0e9bb1;
}
textarea {
    width: 200px;
    height: 100px;
    border: 1px pink solid;
    /* 不设置轮廓 */
    outline: none;
    /* 设置其不能改变长宽 */
    resize: none;
}
.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    width: 300px;
    padding: 5px;
    background-color: #eee;
    font-size: 15px;
    margin: 15px 0;
}

li a {
    float: right;
}
.cat-box{
    min-width: 100%;
    min-height: 200px;
    margin: 12px 0;
    border-radius: 6px;
    background-color: white;
}
.mar-left-and-right{
    margin: 0 12px;
}
