.vrc-head{
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 124px;
    height: 92px;
    right: -9px;
}
.vrc-box{
    display: flex;
    cursor: pointer;
    width: 128px;
    height: 74px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border: 2px solid #67d781;
    box-sizing: border-box;
}
.vrc-name{
    width: 100%;
    height: 100%;
    position: relative;
    left: 20px;
    top: 10px;
}
.vrc-text1{
    color: #0e9bb1;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: "Microsoft YaHei", 微软雅黑, 宋体, sans-serif;
}
.vrc-text2{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.vrc-page-down{
    width: 80px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: #00a1d6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vrc-page1{
    width: 46px;
    height: 46px;
    border: 1px solid #d6d6d6;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vrc-inline{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vrc-margin-left{
    margin-left: 20px;
}
.button-under{
    position: absolute;
    bottom: 15px;
}
.vrc-1{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_1c823ae0-a18c-4392-a93d-2be0ebe24588/1/256");
}
.vrc-2{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_fbb47b15-d9d4-4093-ac58-04b98b318f6c/3/256")
}
.vrc-3{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_f1b831e4-452a-4d09-81c0-38e4109ec4ba/2/256");
}
.vrc-4{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_75c44dba-61cb-4cb2-9781-a9b1528b1b44/1/256");
}
.vrc-5{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_468b341f-5c4c-4bca-b292-3f5e903a823f/2/256");
}
.vrc-6{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_24216123-21c0-4770-9e32-2c65b2c32fd1/1/256");
}
.vrc-7{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_34d76843-619a-45c0-9248-b5e4d6f2c87c/2/256");
}
.vrc-8{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_ac0987f7-9277-4e24-b867-3f5b94f895fb/1/256");
}
.vrc-9{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_5913dfa3-a02e-426e-84a2-fb3b27988013/1/256");
}
.vrc-10{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_17093f6d-48ee-41f3-b31c-81348765e0d4/3/256");
}
.vrc-11{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_8ecce9a6-9b18-4ef9-b2d7-f68e36aff3e0/1/256");
}
.vrc-12{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_b42cd6ed-3b7f-4166-930c-c6894715938a/1/256");
}
.vrc-13{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_e8fa6ba9-3089-41fe-9ad6-22a6ede92a15/2/256");
}
.vrc-14{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_afe821a2-c69f-43bb-a871-136b59dc59e9/1/256");
}
.vrc-15{
    background-image: url("https://api.vrchat.cloud/api/1/image/file_9223edc3-d9d0-4a01-8ef6-e4c8d089d1d1/2/256");
}